@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;700&display=swap');
body{
    font-family: "Readex Pro";
}
.main_page_div .search_area{
    display: flex;
    padding: 10px;
    align-items: center;
}
.main_page_div .search_area h3{
    margin-right: 50px;
}
.main_page_div .search_area form input{
    font-family: "Readex Pro";
    padding: 5px;
    font-size: 18px;
    margin-right: 10px;
    border:1px solid #0077b6 ;
    border-radius: 3px; 
    /* #e63946 */
}
.main_page_div .search_area form input.error{
    border-color: #e63946 ;
}
.main_page_div .search_area form input.error:focus-visible{
    border-color: #e63946 !important;
}
.main_page_div .search_area form input:focus-visible{
    border:1px solid #0077b6 ; 
    outline: none !important;
}
.main_page_div .search_area form button{
    padding: 7px 12px;
    font-size: 18px;
    background-color: #0077b6;
    border: none;
    color: #fff;
    border-radius: 3px;
}
.text_light{
    color: #fff;
}
.single_colors{
    margin-top: 30px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.single_colors .single_color{
    width: 230px;
    height: 180px;
    margin: 5px;
    padding: 10px;
    border: 1px solid #fef3ef
}